---
import BaseLayout from '../layouts/BaseLayout.astro'
import Product from '../components/Product.astro';

const title = 'My Astro Site';
---
<BaseLayout title={title}>
	<header>
		<h1>My shop</h1>
	</header>

	<div class="row mb-5">
		<div class="col-md-4">
			<Product id="chicken-tenders"
					 name="Tenders"
					 description="Succulentes ailes de poulet préparées"
					 price="9.99"
					 image="/assets/img/fried-chicken-wings.jpg"
					 url="/" />
		</div>
	</div>

	<button class="btn btn-primary snipcart-checkout">Passer commande</button>

</BaseLayout>